<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <securityConfiguration defaultAuthorizationInstance="" defaultSecurityCacheInstance="">
    <authorizationProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AzMan.AzManAuthorizationProvider, Microsoft.Practices.EnterpriseLibrary.Security.AzMan"
        storeLocation="msxml://E:\Projects\EntLib5\Guides\DevGuide\Dual Language Version\Code Samples\Code-CS\Security\Security\Example.xml"
        application="My Application" scope="" auditIdentifierPrefix="AzMan Authorization Provider"
        name="AzManProvider" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security"
        name="RuleProvider">
        <rules>
          <add expression="R:Administrators OR R:SalesManagers" name="UpdateSalesData" />
          <add expression="R:Users OR R:FieldSalesStaff OR R:SalesManagers"
            name="ReadSalesData" />
        </rules>
      </add>
    </authorizationProviders>
    <securityCacheProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore"
        cacheManagerInstanceName="Cache Manager" defaultSlidingSessionExpirationInMinutes="10"
        defaultAbsoluteSessionExpirationInMinutes="60" name="CacheProvider" />
    </securityCacheProviders>
  </securityConfiguration>
  <securityCryptographyConfiguration>
    <symmetricCryptoProviders>
      <add name="RijndaelManaged" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
        algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        protectedKeyFilename="D:\Chris\Projects\Entlib\V5\Docs\Guides\DevGuide\C# Version\Code Samples\Security\Security\cctkey.key"
        protectedKeyProtectionScope="CurrentUser" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage" />
    </cacheManagers>
    <backingStores>
      <add name="Isolated Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
        encryptionProviderName="Symmetric Storage Encryption" partitionName="SecurityExample" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
    <encryptionProviders>
      <add name="Symmetric Storage Encryption" type="Microsoft.Practices.EnterpriseLibrary.Caching.Cryptography.SymmetricStorageEncryptionProvider, Microsoft.Practices.EnterpriseLibrary.Caching.Cryptography"
        symmetricInstance="RijndaelManaged" />
    </encryptionProviders>
  </cachingConfiguration>
</configuration>