@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    <title></title>
</head>
<body>
    <div>
    @DateTime.Now
        fds
    </div>
</body>
</html>
