@model DataSubmission.Models.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "模版编辑";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 60%;
        }

            #sortable li {
                margin: 0 3px 3px 3px;
                padding: 0.4em;
                padding-left: 1.5em;
                font-size: 1.4em;
                height: 18px;
            }

                #sortable li span {
                    position: absolute;
                    margin-left: -1.3em;
                }
    </style>
    <script>
        $(function () {
            var textBox = "<input type='text' name='fieldName' id='fn1' /><input type='text' name='fieldValue' id='fv1' />";
            $(".sortable").sortable();
            //$( "#sortable" ).disableSelection();
            $("#AddNewItem").click(function (event) {
                et.addTextBox();
            });
        });
        var et = (function (m) {
            m.getTextBox = function (index) {
                return "<input type='text' name='fieldName' id='fn" + index + "' /><input type='text' name='fieldValue' id='fv" + index + "' />";
            };
            m.addTextBox = function () {
                var itemIndex = $("#sortable").children().length + 1;
                $("#sortable").append("<li class='ui-state-default'><span class='ui-icon ui-icon-arrowthick-2-n-s'></span>Item " + itemIndex + m.getTextBox(itemIndex) + "</li>");
            };
            return m;
        })(et || {});

    </script>
</head>
<body>
    <div>
        <ul id="sortable" class="sortable">
            <li class="ui-state-default">
                <ul class="sortable" id="sortable">
                    <li class="ui-state-default">
                        item1.1
                    </li>
                    <li class="ui-state-default">
                        item2.1
                    </li>
                </ul>
            </li>
            @*<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>*@
        </ul>
    </div>
    <div>
        <input type="button" id="AddNewItem" value="新增" />
    </div>
</body>
</html>
